/**Estilos Menu 1**/
header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    overflow: hidden;
}

header li{
    float: left;
}

header li a{
    color: antiquewhite;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
 }

header li a:hover{
    background-color: black;
 }

 body{
    margin: 0px;
 }

 #contenedor{
    background-color: aquamarine;
    width: 40%;
 }
 /*Estilos Icono Menu*/

 .fa-bars, .fa-times, input[type="checkbox"]{
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.8rem;
    opacity: 0;
 }

 input[type="checkbox"]{
    margin: 0px;
    padding: 0px;
 }

 /**Estilos Menu 2*****/

 #menu_2{
    width: 120px;
    position: absolute;
    right: 0px;
    display: none;
 }

 /*****Media Queries***Generar propiedades a partir de una condición****/

 @media only screen and (max-width: 660px) {
   .fa-bars{
        opacity: 1;
    }
    input:checked~#menu_2{
        display: block;
    }
    input:checked~.fa-times{
        opacity: 1;
    }
    input:not(:checked)~.fa-bars{
        display: none;
    }
    #menu_1 ul li{
        opacity: 0;
    }
    #contenedor{
        width: 100%;
    }

    
 }